@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Handlee&family=League+Spartan:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .primary-btn{
        @apply text-white bg-primary font-averia rounded-xl py-3 px-6
        shadow-[0px_10px_14px_-7px_#de0029]
        hover:!scale-110 duration-300
    }
}
@layer utilities{
    .drop-shadow{
        filter:drop-shadow(-6px 8px 15px rgba(0,0,0,0.2))
    }
}